* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: #ffe4c4;
}

header,
.footer-content {
  background: #fff;
  padding: 30px;
  width: 70%;
  margin-top: 50px;
  border-radius: 0 20px 20px 0;
}

nav ul {
  display: flex;
  justify-content: end;
  gap: 40px;
}

ul a {
  color: #161616;
  text-transform: uppercase;
  font-weight: 700;
  padding: 20px;
}

.container-cards,
.sec-form {
  margin: 50px auto;
  width: 60%;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: -1px 1px 7px -2px rgba(110, 110, 110, 1);
  -webkit-box-shadow: -1px 1px 7px -2px rgba(110, 110, 110, 1);
  -moz-box-shadow: -1px 1px 7px -2px rgba(110, 110, 110, 1);
}

.card img {
  z-index: 0;
}

.sec-form input {
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form button {
  height: 1.8rem;
}

footer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.footer-content {
  border-radius: 20px 0 0 20px;
}

.sec-form {
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1167px) {
  .card {
    width: 200px;
  }
}

@media (max-width: 900px) {
  ul a {
    font-size: 0.9rem;
  }
}

@media (max-width: 670px) {
  ul a {
    font-size: 0.7rem;
  }
  .card {
    width: 250px;
  }
}
